

section {
    background-color: black;
    color: white;
  
}

header {
    background-color: #3C3A39;
}
.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.name {margin-left: 1rem;
    width: 77px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;
color: #FFFFFF;

display: flex;
align-items: center;
text-align: center;
}
.greeting {margin-left: 1rem;
    width: 327px;
height: 124px;

font-family: 'Crete Round';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 64px;
letter-spacing: 0.37px;

color: #FF6B00;}


h2 {margin-left: 1rem;
    width: 327px;
height: 27px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
display: flex;
align-items: center;

color: #FFF5E1;
}
p {margin-left: 1rem;
    width: 327px;
height: 123px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}
ul {width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -1.5rem;
    list-style: none;

}
.middle {margin-left: 0.5rem;
   background-color: black;
   display: flex;
   flex-direction: column;
   justify-content: center;

}
.second {background-color: white;
    color:black;
   text-align: center;
}
h3 {margin-top: 4rem;
    border-bottom: .5px solid black;
    width: 327px;
height: 83px;

font-family: 'Crete Round';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 52px;
display: flex;
justify-content: center;
color: #1C1A19;
    


}
.length {
    height: 4rem;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
h4 {margin-left: 1rem;
    width: 327px;
height: 36px;
margin-left: 1rem;

font-family: 'Crete Round';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 44px;
display: flex;
align-items: center;
color: #091E42;
}
p2 {width: 327px;
    height: 147px;
;
    
    /* Theme 3 / Body Reguler 2 */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    /* Neutrals/N900 */
    
    color: #091E42;
    
    
}
.languages {
    display: flex;
    flex-direction: column;
 

}
.langname {box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    

    background: #FFFFFF;
    border: 1px solid #8993A4;
    margin-left: 1rem;

}
p {
    width: 327px;
height: 147px;
color: white;

/* Theme 3 / Body Reguler 2 */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
}
alignment {
    align-items: baseline;
}
.Placeholder {margin-left: -1.5rem;
     width: 400px;
height: 237px;
}
.project {
    display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;

width: 124px;
height: 48px;

/* Theme 3 / Primary 1 */

background: #FF6B00;

}
h5 {width: 100px;
    height: 24px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    /* identical to box height, or 141% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    
    /* Theme 2 / Neutral 11 */
    
    color: #FFFFFF;
  

}
.project { text-align: center;
    margin-left: 0.5remS;
    width: 100PX;
    height: 25PX;
    
    MARGIN-LEFT: 1.75rem;


}
  